[Unit]
Description=osmo-bts manager for LC15 / sysmoBTS 2100

[Service]
Type=simple
ExecStart=/usr/bin/lc15bts-mgr -s -c /etc/osmocom/lc15bts-mgr.cfg
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target
Alias=osmo-bts-mgr.service
