[Unit]
Description=osmo-bts manager for %p

[Service]
Type=simple
ExecStart=/usr/bin/sysmobts-mgr -ns -c /etc/osmocom/%p.cfg
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target
Alias=osmo-bts-mgr.service
