[Unit]
Description=sysmocom sysmoBTS

[Service]
Type=simple
ExecStartPre=/bin/sh -c 'echo 0 > /sys/class/leds/activity_led/brightness'
ExecStartPre=/bin/sh -c 'cat /lib/firmware/sysmobts-v?.out > /dev/dspdl_dm644x_0'
ExecStart=/usr/bin/sysmobts -s -c /etc/osmocom/osmo-bts.cfg
ExecStartPost=/bin/sh -c 'echo 0 > /sys/class/leds/activity_led/brightness'
Restart=always
RestartSec=2
