*.o
*.a
Makefile.in
Makefile
.deps

aclocal.m4
autom4te.cache
config.log
config.status
configure
depcomp
install-sh
missing
core
core.*

src/osmo-bts-sysmo/l1fwd-proxy
src/osmo-bts-sysmo/sysmobts
src/osmo-bts-sysmo/sysmobts-remote
