Source: osmo-bts
Maintainer: Osmocom team <openbsc@lists.osmocom.org>
Section: net
Priority: optional
Build-Depends: debhelper (>= 10),
               pkg-config,
               dh-autoreconf,
               autotools-dev,
               pkg-config,
               libosmocore-dev (>= 1.8.0),
               libosmo-abis-dev (>= 1.4.0),
               libosmo-netif-dev (>= 1.3.0),
               libgps-dev,
               txt2man,
               osmo-gsm-manuals-dev (>= 1.4.0)
Standards-Version: 3.9.8
Vcs-Browser: https://gitea.osmocom.org/cellular-infrastructure/osmo-bts
Vcs-Git: https://gitea.osmocom.org/cellular-infrastructure/osmo-bts
Homepage: https://projects.osmocom.org/projects/osmobts

Package: osmo-bts
Architecture: any
Depends: osmo-bts-trx, osmo-bts-virtual, ${misc:Depends}
Description: Base Transceiver Station for GSM
 OsmoBTS is a software implementation of Layer2/3 of a BTS. It implements the
 following protocols/interfaces:
    LAPDm (GSM 04.06)
    RTP
    A-bis/IP in IPA multiplex
    OML (GSM TS 12.21)
    RSL (GSM TS 08.58)
 .
 OsmoBTS is modular and has support for multiple back-ends. A back-end talks to
 a specific L1/PHY implementation of the respective BTS hardware. Based on this
 architecture, it should be relatively easy to add a new back-end to support
 so-far unsupported GSM PHY/L1 and associated hardware.

Package: osmo-bts-trx
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: osmo-bts-trx GSM BTS with osmo-trx
 osmo-bts-trx to be used with the osmo-trx application

Package: osmo-bts-trx-dbg
Architecture: any
Section: debug
Priority: extra
Depends: osmo-bts-trx (= ${binary:Version}), ${misc:Depends}
Description: Debug symbols for the osmo-bts-trx
 Make debugging possible

Package: osmo-bts-virtual
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Virtual Osmocom GSM BTS (no RF hardware; GSMTAP/UDP)
 This version of OsmoBTS doesn't use actual GSM PHY/Hardware/RF, but
 utilizes GSMTAP-over-UDP frames for the Um interface.  This is useful
 in fully virtualized setups e.g. in combination with OsmocomBB virt_phy.

Package: osmo-bts-virtual-dbg
Architecture: any
Section: debug
Priority: extra
Depends: osmo-bts-virtual (= ${binary:Version}), ${misc:Depends}
Description: Debug symbols for the osmo-bts-virtual
 Make debugging possible

Package: osmo-bts-doc
Architecture: all
Section: doc
Priority: optional
Depends: ${misc:Depends}
Description: ${misc:Package} PDF documentation
 Various manuals: user manual, VTY reference manual and/or
 protocol/interface manuals.
